*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.PhotoTablas{
    width: 50px;
}


/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Espaciado superior entre la tabla y otros elementos */
  }
  
  /* Estilos para los encabezados de la tabla */
  thead {
    background-color: #f2f2f2; /* Color de fondo para los encabezados */
  }
  
  th {
    padding: 10px;
    text-align: left;
  }
  
  /* Estilos para las celdas de la tabla */
  td {
    border: 1px solid #ddd; /* Borde de las celdas */
    padding: 10px;
  }
  
  /* Estilos alternos para filas para mejorar la legibilidad */
  tbody tr:nth-child(odd) {
    background-color: #a8d6de; /* Color de fondo para filas pares */
  }


  /* Estilos para la fila actualmente seleccionada o resaltada */
  tbody tr:hover {
    background-color: #e0e0e0; /* Color de fondo al pasar el ratón sobre la fila */
  }

  .card_container{
    width: 300px;
    display: inline-block;
    margin: 10px;
    border: 1px solid;
    border-radius: 5px;
    
}
.card_interna{
    display: flex;
    align-items: center;

}
.card_perfil{
    width: 140px;
    height: 150px;
    object-fit: cover;
}
.card_data{
    margin: 5px;

}

.top ,.bottom{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin: 4em;
}

.content_rigth * {
  margin: 10px 0; /* Puedes ajustar el valor según tus necesidades */
}

.bottom{
  margin-top: 5em;
}